#ifndef CONFIG_H
#define CONFIG_H

#define HAS_CONFIG_H

#define WIFI_SSID "MyWiFiSSID"
#define WIFI_PASS "ASecurePassword"

#define OTA_PASS "SomePassword"

#define MQTT_HOST "192.168.0.1"
#define MQTT_USER "username"
#define MQTT_PASS "password"

#define LED_STRIP_LENGTH 9999

#endif // CONFIG_H
