#ifndef CONFIG_H
#define CONFIG_H

#define HAS_CONFIG_H

#define WIFI_SSID "MyWiFiSSID"
#define WIFI_PASS "ASecurePassword"

#define OTA_PASS "SomePassword"

#define MQTT_HOST "mqtt.domain.tld"
#define MQTT_USER "username"
#define MQTT_PASS "password"

#define CONFIG_SERVER "http://config.domain.tld:5000" // This is where home-control is running, as it provides the API.

#endif // CONFIG_H
